.container{
    display: flex;
    height: 100vh;
    align-items: left;
    margin-top: 10%;
    flex-direction: column;
}

.form-control{
    width: 30%;
}

.hero-unit{
    justify-content: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
}

.hero-unit h1{
    font-size: 370%;
}

.hero-unit p{
    font-size: 150%;
}

